<section class="container create-music ff-inter">
  <header class="header">
    <h2>Adicione um novo trecho de música</h2>
  </header>
  <form class="create-container">
    <label for="music">Trecho da Música</label>
    <input
      type="textarea"
      class="input"
      id="music"
      name="music"
      placeholder="Digite o trecho da música"
      [(ngModel)]="music.content"
    >
    <label for="author">Cantor(a)</label>
    <input
      type="text"
      class="input"
      id="author"
      name="author"
      placeholder="Insira o nome do(a) cantor(a)."
      [(ngModel)]="music.author"
    >
  </form>
</section>

<section class="container create-music ff-inter">
  <header class="header">
    <h2>Selecione o modelo do card</h2>
  </header>
  <div class="create-container">
    <div class="container-radio">
      <div class="radio-card">
        <label for="card_1">
          <input
            type="radio"
            id="card_1"
            value="card_1"
            name="model-card"
            [(ngModel)]="music.card"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Card 1</span>
        </label>
        Prévia:
        <div class="card card_1">
          <img src="/assets/card_1.png" alt="icone de música azul">
          <p class="content ff-roboto-mono">{{ music.content }}</p>
          <p class="author ff-allison">{{ music.author }}</p>
        </div>
      </div>

      <div class="radio-card">
        <label for="card_2">
          <input
          type="radio"
          id="card_2"
          value="card_2"
          name="model-card"
          [(ngModel)]="music.card"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Card 2</span>
        </label>
        Prévia:
        <div class="card card_2">
          <img src="/assets/card_2.png" alt="icone de música verde">
          <p class="content ff-roboto-mono">{{ music.content }}</p>
          <p class="author ff-allison">{{ music.author }}</p>
        </div>
      </div>

      <div class="radio-card">
        <label for="card_3">
          <input
            type="radio"
            id="card_3"
            value="card_3"
            name="model-card"
            [(ngModel)]="music.card"
            >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Card 3</span>
        </label>
        Prévia:
        <div class="card card_3">
          <img src="/assets/card_3.png" alt="icone de música laranja">
          <p class="content ff-roboto-mono">{{ music.content }}</p>
          <p class="author ff-allison">{{ music.author }}</p>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="actions">
  <button (click)="createMusic()" class="button ff-inter">Salvar</button>
  <button (click)="cancelMusic()" class="button ff-inter">Cancelar</button>
</div>
